################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rochas.MailSender.Api/obj
/.vs
/Rochas.MailSender.Api/Properties/PublishProfiles
